.container {
  margin: 7px 4px;
  background-color: #f4f6f9;
  box-shadow: 0 0 10px #d1d3d5;
}

.header__wrap {
  padding: 25px;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: "Dancing Script", cursive;
  margin: 0;
  font-size: 36px;
}

.text {
  font-family: "Shadows Into Light", cursive;
  margin: 0;
}

@media (max-width: 768px) {
  .header__wrap {
    padding: 20px;
  }
  .logo {
    font-size: 30px;
  }
}

@media (max-width: 426px) {
  .header__wrap {
    padding: 10px;
  }
  .logo {
    font-size: 26px;
  }
}
