.title {
  font-family: "Dancing Script", cursive;
  font-size: 18px;
}

.header__text-birthday {
  font-family: "Shadows Into Light", cursive;
  text-align: end;
  font-size: 16px;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .userlist__wrap {
    grid-gap: 10px;
    padding: 20px;
  }
}

@media (max-width: 426px) {
  .userlist__wrap {
    grid-gap: 7px;
    padding: 10px;
  }
}
