*,
*::after,
*::before {
  box-sizing: border-box;
}

.App-main {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

@media (max-width: 426px) {
  .App-main {
    grid-template-columns: none;
  }
}
